@mixin font($a, $b) {
    font-size: $a;
    line-height: $b;
    // font-weight: $c;
    // color: $d;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$orange: rgba(170, 67, 52, 1);
$black: rgba(0, 0, 0, 1);
$white: #fff;
